name: IntelliJ Platform Plugin Compatibility

on:
  push:
  pull_request:

jobs:
  compatibility:
    name: Ensure plugin compatibility against 2018.1 ~ 2020.2 for IDEA Community, IDEA Ultimate
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v1

      - name: Setup Java 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build the plugin using Gradle
        run: ./gradlew buildPlugin

      - name: Verify Plugin on IntelliJ Platforms
        id: verify
        uses: ChrisCarini/intellij-platform-plugin-verifier-action@latest
        with:
          ide-versions: |
            ideaIC:2018.1
            ideaIC:2018.2
            ideaIC:2018.3.6
            ideaIC:2019.1.4
            ideaIC:2019.3
            ideaIC:2020.1
            ideaIC:2020.2
            ideaIU:2018.1
            ideaIU:2018.2
            ideaIU:2018.3.6
            ideaIU:2019.1.4
            ideaIU:2019.3
            ideaIU:2020.1
            ideaIU:2020.2

      - name: Get log file path and print contents
        run: |
          echo "The verifier log file [${{steps.verify.outputs.verification-output-log-filename}}] contents : " ;
          cat ${{steps.verify.outputs.verification-output-log-filename}}
